h1{
	border: 1px solid #37382C;
	margin:0px;
	padding:10px;
	background:#37382C;
	color:#FEFEF0;
	font-family:georgia;	
}

label{
	color:#37382C;
	font-family:georgia;
	line-height:2em;
	text-transform:capitalize;
}

button{
	background:#37382C;
	color:#FEFEF0;
	font-family:georgia;
}

input{
	color:#000000;
	font-style:italic;
	
}


#clear a{color:#990000;}
	
#clear a:hover{
	color:#7C8055;
}

#main {
	display:block;
}

#clear {
	display:none; margin:15px;
}