/*
Project 2
Visual Frameworks 1108
by Carolyn Lea
August 8, 2011
*/

h1{
	border: 1px solid #663300;
	margin:0px;
	padding:10px;
	background:#37382C;
	color:#FEFEF0;
	font-family:georgia;	
}

fieldset{
	border:1px solid #37382C;
	background:#FEFEF0;
}

legend{
	color:#37382C;
	font-family:georgia;
}

label{
	color:#37382C;
	font-family:georgia;
}

button{
	background:#37382C;
	color:#FEFEF0;
	font-family:georgia;
}

p{
	color:#37382C;
	font-family:georgia;
}

textarea{
	color:#000000;
	width:320px;
	height:80px;
}

input{
	color:#000000;
}

select{
	color:#000000;
}